/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* variables*/
/*mixins begin*/
/*reactivity*/
/*reactivity end*/
/*begin general mixins*/
/* A */
/* B */
/* C */
/* D */
/* E */
/* F */
/* G */
/* H */
/* I */
/* J */
/* K */
/* L */
/* M */
/* N */
/* O */
/* P */
/* Q */
/* R */
/* S */
/* T */
/* U */
/* V */
/* W */
/*mixins end*/
/*classes begin*/
/* A */
/* B */
/* line 199, ../sass/global.scss */
.bk-white {
  background-color: white;
}

/* line 203, ../sass/global.scss */
.bk-gray {
  background-color: #e3e3e3;
}

/* line 207, ../sass/global.scss */
.bk-blk {
  background-color: white;
}

/* line 211, ../sass/global.scss */
.btn-sm-blk {
  padding: 1em;
  font-size: 1em;
  background-color: #000;
  color: white;
}

/* C */
/* line 217, ../sass/global.scss */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  border-radius: 0px;
}

/* line 221, ../sass/global.scss */
.cardround {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  border-radius: 5px;
}

/* D */
/*reactive display none*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 227, ../sass/global.scss */
  .displaynonetablet {
    display: none !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 233, ../sass/global.scss */
  .displaynonemob {
    display: none !important;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 233, ../sass/global.scss */
  .displaynonemob {
    display: none !important;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 233, ../sass/global.scss */
  .displaynonemob {
    display: none !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 247, ../sass/global.scss */
  .displaynonescreen {
    display: inline !important;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 247, ../sass/global.scss */
  .displaynonescreen {
    display: inline !important;
  }
}
@media (min-width: 1200px) and (max-width: 1449.98px) {
  /* line 247, ../sass/global.scss */
  .displaynonescreen {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* line 247, ../sass/global.scss */
  .displaynonescreen {
    display: none !important;
  }
}
@media (min-width: 1450px) and (max-width: 2048px) {
  /* line 247, ../sass/global.scss */
  .displaynonescreen {
    display: none !important;
  }
}

/*flexes for projects that use anything less than bootstrap 4.0*/
/* line 271, ../sass/global.scss */
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

/* line 276, ../sass/global.scss */
.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

/*margins*/
/*margin-left*/
/* line 284, ../sass/global.scss */
.dml-half {
  margin-left: 0.5em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 284, ../sass/global.scss */
  .dml-half {
    margin-left: 0.25em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 284, ../sass/global.scss */
  .dml-half {
    margin-left: 0.25em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 284, ../sass/global.scss */
  .dml-half {
    margin-left: 0.25em;
  }
}

/* line 297, ../sass/global.scss */
.dml-1 {
  margin-left: 1em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 297, ../sass/global.scss */
  .dml-1 {
    margin-left: 0.5em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 297, ../sass/global.scss */
  .dml-1 {
    margin-left: 0.5em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 297, ../sass/global.scss */
  .dml-1 {
    margin-left: 0.5em;
  }
}

/* line 310, ../sass/global.scss */
.dml-2 {
  margin-left: 2em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 310, ../sass/global.scss */
  .dml-2 {
    margin-left: 1em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 310, ../sass/global.scss */
  .dml-2 {
    margin-left: 1em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 310, ../sass/global.scss */
  .dml-2 {
    margin-left: 1em;
  }
}

/* line 323, ../sass/global.scss */
.dml-3 {
  margin-left: 3em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 323, ../sass/global.scss */
  .dml-3 {
    margin-left: 2em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 323, ../sass/global.scss */
  .dml-3 {
    margin-left: 2em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 323, ../sass/global.scss */
  .dml-3 {
    margin-left: 2em;
  }
}

/* line 336, ../sass/global.scss */
.dml-4 {
  margin-left: 4em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 336, ../sass/global.scss */
  .dml-4 {
    margin-left: 3em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 336, ../sass/global.scss */
  .dml-4 {
    margin-left: 3em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 336, ../sass/global.scss */
  .dml-4 {
    margin-left: 3em;
  }
}

/* line 349, ../sass/global.scss */
.dml-5 {
  margin-left: 5em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 349, ../sass/global.scss */
  .dml-5 {
    margin-left: 4em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 349, ../sass/global.scss */
  .dml-5 {
    margin-left: 4em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 349, ../sass/global.scss */
  .dml-5 {
    margin-left: 4em;
  }
}

/*margin right*/
/* line 364, ../sass/global.scss */
.dmr-half {
  margin-right: 0.5em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 364, ../sass/global.scss */
  .dmr-half {
    margin-rightp: 0.25em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 364, ../sass/global.scss */
  .dmr-half {
    margin-right: 0.25em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 364, ../sass/global.scss */
  .dmr-half {
    margin-right: 0.25em;
  }
}

/* line 377, ../sass/global.scss */
.dmr-1 {
  margin-right: 1em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 377, ../sass/global.scss */
  .dmr-1 {
    margin-right: 0.5em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 377, ../sass/global.scss */
  .dmr-1 {
    margin-right: 0.5em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 377, ../sass/global.scss */
  .dmr-1 {
    margin-right: 0.5em;
  }
}

/* line 390, ../sass/global.scss */
.dmr-2 {
  margin-right: 2em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 390, ../sass/global.scss */
  .dmr-2 {
    margin-right: 1em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 390, ../sass/global.scss */
  .dmr-2 {
    margin-right: 1em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 390, ../sass/global.scss */
  .dmr-2 {
    margin-right: 1em;
  }
}

/* line 403, ../sass/global.scss */
.dmr-3 {
  margin-right: 3em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 403, ../sass/global.scss */
  .dmr-3 {
    margin-right: 2em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 403, ../sass/global.scss */
  .dmr-3 {
    margin-right: 2em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 403, ../sass/global.scss */
  .dmr-3 {
    margin-right: 2em;
  }
}

/* line 416, ../sass/global.scss */
.dmr-4 {
  margin-right: 4em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 416, ../sass/global.scss */
  .dmr-4 {
    margin-right: 3em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 416, ../sass/global.scss */
  .dmr-4 {
    margin-right: 3em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 416, ../sass/global.scss */
  .dmr-4 {
    margin-right: 3em;
  }
}

/* line 429, ../sass/global.scss */
.dmr-5 {
  margin-right: 5em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 429, ../sass/global.scss */
  .dmr-5 {
    margin-right: 4em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 429, ../sass/global.scss */
  .dmr-5 {
    margin-right: 4em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 429, ../sass/global.scss */
  .dmr-5 {
    margin-right: 4em;
  }
}

/*margin-bottom*/
/* line 445, ../sass/global.scss */
.dmb-half {
  margin-bottom: 0.5em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 445, ../sass/global.scss */
  .dmb-half {
    margin-bottom: 0.25em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 445, ../sass/global.scss */
  .dmb-half {
    margin-bottom: 0.25em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 445, ../sass/global.scss */
  .dmb-half {
    margin-bottom: 0.25em;
  }
}

/* line 458, ../sass/global.scss */
.dmb-1 {
  margin-bottom: 1em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 458, ../sass/global.scss */
  .dmb-1 {
    margin-bottom: 0.5em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 458, ../sass/global.scss */
  .dmb-1 {
    margin-bottom: 0.5em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 458, ../sass/global.scss */
  .dmb-1 {
    margin-bottom: 0.5em;
  }
}

/* line 471, ../sass/global.scss */
.dmb-2 {
  margin-top: 2em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 471, ../sass/global.scss */
  .dmb-2 {
    margin-bottom: 1em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 471, ../sass/global.scss */
  .dmb-2 {
    margin-bottom: 1em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 471, ../sass/global.scss */
  .dmb-2 {
    margin-bottom: 1em;
  }
}

/* line 484, ../sass/global.scss */
.dmb-3 {
  margin-top: 3em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 484, ../sass/global.scss */
  .dmb-3 {
    margin-bottom: 2em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 484, ../sass/global.scss */
  .dmb-3 {
    margin-bottom: 2em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 484, ../sass/global.scss */
  .dmb-3 {
    margin-bottom: 2em;
  }
}

/* line 497, ../sass/global.scss */
.dmb-4 {
  margin-bottom: 4em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 497, ../sass/global.scss */
  .dmb-4 {
    margin-bottom: 3em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 497, ../sass/global.scss */
  .dmb-4 {
    margin-bottom: 3em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 497, ../sass/global.scss */
  .dmb-4 {
    margin-bottom: 3em;
  }
}

/* line 510, ../sass/global.scss */
.dmb-5 {
  margin-bottom: 5em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 510, ../sass/global.scss */
  .dmb-5 {
    margin-bottom: 4em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 510, ../sass/global.scss */
  .dmb-5 {
    margin-bottom: 4em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 510, ../sass/global.scss */
  .dmb-5 {
    margin-bottom: 4em;
  }
}

/*margin-top*/
/* line 525, ../sass/global.scss */
.dmt-half {
  margin-top: 0.5em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 525, ../sass/global.scss */
  .dmt-half {
    margin-top: 0.25em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 525, ../sass/global.scss */
  .dmt-half {
    margin-top: 0.25em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 525, ../sass/global.scss */
  .dmt-half {
    margin-top: 0.25em;
  }
}

/* line 538, ../sass/global.scss */
.dmt-1 {
  margin-top: 1em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 538, ../sass/global.scss */
  .dmt-1 {
    margin-top: 0.5em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 538, ../sass/global.scss */
  .dmt-1 {
    margin-top: 0.5em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 538, ../sass/global.scss */
  .dmt-1 {
    margin-top: 0.5em;
  }
}

/* line 551, ../sass/global.scss */
.dmt-2 {
  margin-top: 2em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 551, ../sass/global.scss */
  .dmt-2 {
    margin-top: 1em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 551, ../sass/global.scss */
  .dmt-2 {
    margin-top: 1em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 551, ../sass/global.scss */
  .dmt-2 {
    margin-top: 1em;
  }
}

/* line 564, ../sass/global.scss */
.dmt-3 {
  margin-top: 3em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 564, ../sass/global.scss */
  .dmt-3 {
    margin-top: 2em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 564, ../sass/global.scss */
  .dmt-3 {
    margin-top: 2em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 564, ../sass/global.scss */
  .dmt-3 {
    margin-top: 2em;
  }
}

/* line 577, ../sass/global.scss */
.dmt-4 {
  margin-top: 4em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 577, ../sass/global.scss */
  .dmt-4 {
    margin-top: 3em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 577, ../sass/global.scss */
  .dmt-4 {
    margin-top: 3em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 577, ../sass/global.scss */
  .dmt-4 {
    margin-top: 3em;
  }
}

/* line 590, ../sass/global.scss */
.dmt-5 {
  margin-top: 5em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 590, ../sass/global.scss */
  .dmt-5 {
    margin-top: 4em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 590, ../sass/global.scss */
  .dmt-5 {
    margin-top: 4em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 590, ../sass/global.scss */
  .dmt-5 {
    margin-top: 4em;
  }
}

/*padding*/
/* line 605, ../sass/global.scss */
.dp-1 {
  padding: 1em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 605, ../sass/global.scss */
  .dp-1 {
    padding: 0.5em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 605, ../sass/global.scss */
  .dp-1 {
    padding: 0.5em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 605, ../sass/global.scss */
  .dp-1 {
    padding: 0.5em;
  }
}

/* line 618, ../sass/global.scss */
.dp-2 {
  padding: 2em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 618, ../sass/global.scss */
  .dp-2 {
    padding: 1em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 618, ../sass/global.scss */
  .dp-2 {
    padding: 1em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 618, ../sass/global.scss */
  .dp-2 {
    padding: 1em;
  }
}

/* line 631, ../sass/global.scss */
.dp-3 {
  padding: 3em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 631, ../sass/global.scss */
  .dp-3 {
    padding: 2em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 631, ../sass/global.scss */
  .dp-3 {
    padding: 2em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 631, ../sass/global.scss */
  .dp-3 {
    padding: 2em;
  }
}

/* line 644, ../sass/global.scss */
.dp-4 {
  padding: 4em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 644, ../sass/global.scss */
  .dp-4 {
    padding: 3em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 644, ../sass/global.scss */
  .dp-4 {
    padding: 3em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 644, ../sass/global.scss */
  .dp-4 {
    padding: 3em;
  }
}

/* line 657, ../sass/global.scss */
.dp-5 {
  padding: 5em;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 657, ../sass/global.scss */
  .dp-5 {
    padding: 4em;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 657, ../sass/global.scss */
  .dp-5 {
    padding: 4em;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 657, ../sass/global.scss */
  .dp-5 {
    padding: 4em;
  }
}

/* E */
/* F */
/* line 673, ../sass/global.scss */
.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}

/* G */
/* H */
/* I */
/* J */
/*flexes for projects that use anything less than bootstrap 4.0*/
/* line 686, ../sass/global.scss */
.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

/* line 691, ../sass/global.scss */
.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

/* line 696, ../sass/global.scss */
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

/* K */
/* L */
/* M */
/* N */
/* O */
/* P */
/* Q */
/* R */
/* S */
/* T */
/* line 720, ../sass/global.scss */
.text-white {
  color: #fff;
}

/* line 724, ../sass/global.scss */
.text-black {
  color: #000;
}

/* W */
/* line 730, ../sass/global.scss */
.width5 {
  width: 5%;
}

/* line 734, ../sass/global.scss */
.width10 {
  width: 10%;
}

/* line 738, ../sass/global.scss */
.width25 {
  width: 25%;
}

/* line 742, ../sass/global.scss */
.width50 {
  width: 50%;
}

/* line 750, ../sass/global.scss */
.width75 {
  width: 75%;
}

/* line 754, ../sass/global.scss */
.width100 {
  width: 100%;
}

/* line 20, ../sass/screen.scss */
body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

/* line 26, ../sass/screen.scss */
p {
  line-height: 1.2;
}

/* line 30, ../sass/screen.scss */
.header {
  background: url("../../fastnerexample-top.png") no-repeat top right;
  background-size: 40%;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 30, ../sass/screen.scss */
  .header {
    background-size: 60%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 30, ../sass/screen.scss */
  .header {
    background-size: 60%;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 30, ../sass/screen.scss */
  .header {
    background-size: 60%;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 30, ../sass/screen.scss */
  .header {
    background-size: 60%;
  }
}

/* line 47, ../sass/screen.scss */
.placeholder {
  background-color: red;
  width: 100%;
  padding: 10rem;
}

/* line 53, ../sass/screen.scss */
.col-md-12, .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 58, ../sass/screen.scss */
.no-display {
  display: none;
}

/* line 62, ../sass/screen.scss */
.center {
  margin: auto;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 14px;
}

/* line 71, ../sass/screen.scss */
.title {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #262626;
  font-family: 'Oswald', sans-serif !important;
  line-height: 1.2;
}

/* line 81, ../sass/screen.scss */
.content {
  margin-top: 10em;
}

/* line 85, ../sass/screen.scss */
.analyze {
  margin-top: 2rem;
}

/* line 89, ../sass/screen.scss */
.upload-label {
  padding: 10px;
  font-size: 12px;
}

/* line 94, ../sass/screen.scss */
.result-label {
  margin-top: 0.5em;
  padding: 10px;
  font-size: 13px;
}

/* line 100, ../sass/screen.scss */
button {
  color: #ba2028 !important;
  font-weight: 700;
}

/* line 105, ../sass/screen.scss */
button.choose-file-button {
  width: 30%;
  height: 3rem;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #ba2028;
  font-size: 13px;
  color: #ba2028;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 105, ../sass/screen.scss */
  button.choose-file-button {
    width: 80%;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 105, ../sass/screen.scss */
  button.choose-file-button {
    width: 80%;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 105, ../sass/screen.scss */
  button.choose-file-button {
    width: 80%;
  }
}

/* line 125, ../sass/screen.scss */
button.analyze-button {
  width: 30%;
  height: 3rem;
  border: solid 1px #ba2028;
  border-radius: 2px;
  background-color: #ba2028;
  font-size: 13px;
  color: #ffffff !important;
  font-weight: 700;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 125, ../sass/screen.scss */
  button.analyze-button {
    width: 80%;
  }
}
@media (max-width: 575.98px) and (min-width: 375px) {
  /* line 125, ../sass/screen.scss */
  button.analyze-button {
    width: 80%;
  }
}
@media (max-width: 374.98px) and (min-width: 320px) {
  /* line 125, ../sass/screen.scss */
  button.analyze-button {
    width: 80%;
  }
}

/* line 146, ../sass/screen.scss */
button:focus {
  outline: 0;
}
